.mc-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 15px;
  height: 15px;
}

.mc-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mc-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 2px solid #3998f8;
}

.mc-container:hover input[type="checkbox"] ~ .mc-checkmark {
  background-color: #ccc;
}

.mc-container input[type="checkbox"]:checked ~ .mc-checkmark {
  background-color: #2196F3;
}

.mc-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.mc-container input[type="checkbox"]:checked ~ .mc-checkmark:after {
  display: block;
}

.mc-container .mc-checkmark:after {
  left: 3px;
  top: 0x;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#table-data-content td {
  vertical-align: middle;
}

.mc-notify {
  margin-left: 5px;
}

.mc-custom-file {
  background: #fff !important;
}

.table td, .table th {
  padding: 10px !important;
}

#ajax-messases-loading {
  position: fixed;
  bottom: 0;
  line-height: 50px;
  height: 50px;
  background: #dde8f9;
  text-align: center;
  width: 100%;
  left: 0;
  color: red;
  font-weight: bold;
  font-size: 18px;
  display: none;
}

.mc-block-tool {
  margin-top: -38px;
  text-align: right;
  margin-bottom: 10px;
  margin-right: -10px;
}

.nowrap {
  white-space: nowrap !important;
}

@media only screen and (max-width: 590px)
{
  .mc-block-tool {
    margin-top: 0;
  }

  .mc-block-tool a, .mc-block-tool button {
    margin-bottom: 4px;
  }
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn-remove-image {
  width: 21px;
  height: 21px;
  line-height: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: red;
  outline: none;
}


.mc-list-file {
  display: block;
  width: 120px;
  float: left;
}

.mc-div-notifications {
  padding-bottom: 0;
}
.mc-notifications-header {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  display: block;
  min-height: 40px;
}

.mc-border-notification {
  border-bottom: 1px dotted #ccc !important;
}

.mc-notifications-header .left {
  float: left;
}

.mc-notifications-header .right {
  float: right;
}

.mc-clear-both {
  clear: both;
}